# Ignore client & server dependencies and builds
client/node_modules
client/dist
client/dist-*
client/dist-server

server/node_modules
server/dist
server/build

# Ignore deployment builds (production)
var/www/smart-car-website/dist

# Logs & runtime data
*.log
*.pid
*.seed
*.pid.lock

# OS / Editor files
.DS_Store
Thumbs.db

# VSCode / IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env